:root{
    --color-primary-dark:#232228;
    --color-primary-green:#3F726E;
    --color-search-background:#171717;
    --color-card-background:#171721;
    --color-card-1:#8458B6;
    
    --color-white:#fff;
    --color-grey:	#484848;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;

}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    background-color: var(--color-primary-dark);
    font-weight: 400;
    line-height: 1.6;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
}