.container{
    display: flex;
    
  
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
flex: 0 0 5%;


}
.right{
   
    flex: 1;

}
.header{
    display: flex;
    padding: 1rem 2rem;
    
    justify-content: space-between;
    align-items: center;
}
.left-section{
    display: flex;
  
    justify-content: space-between;
    
    flex: 0.6;
}
.right-section{
    display: flex;
    align-items: center;
  
   

    & > * {
        margin-right: 1rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }

    
}
.content{
    display: flex;

    &__left{
        width: 70%;
        
    }

    &__right{
        width: 30%;
        background-color: green;
    }
}
