.container{
    display: flex;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
flex: 0 0 5%;


}
.right{

}
.header{
    display: flex;
}
.left-section{
    display: flex;
}
.right-section{
    display: flex;
}
